@media (orientation: portrait) and (min-width: 405px) {
    .header-contact p {
        font-size: 2.5rem;
    }
    .header-contact span, .header-contact a {
        font-size: 3.5rem;
        line-height: 3;
    }

    main section.welcome .feature {
        padding: 20px 20px 20px 30px;
    }

    main section.people article.person h3 {
        font-size: 1.6rem;
        text-align: center;
        color: #03045E;
    }
    
    main section.people article.person p {
        font-size: 1.4rem;
        padding-top: 10px;
    }

    footer p {
        font-size: 1.5rem;
    }

    footer a {
        font-size: 1.4rem;
    }
}

@media (orientation: portrait) and (min-width: 767px) {
    nav a {
        font-size: 4.5rem;
        line-height: 3;
    }

    .header_logo {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header_logo h1 {
        font-size: 3rem;
        flex-grow: 0;
    }

    div.logoborder {
        margin: 0;
    }

    .menu-toggle, .menu-close {
        font-size: 5.8rem;
    }

    .header-contact {
        height: 500px;
    }

    .header-contact p {
        font-size: 4.5rem;
    }

    .header-contact .bg span, .header-contact .bg a{
        font-size: 6rem;
    }

    .header-contact a {
        padding-left: 20px;
    }

    main section.welcome article.welcome {
        padding: 60px 50px;
        height: calc(100vh - 680px);
    }

    main section.welcome article.welcome h2{
        font-size: 4rem;
        text-align: center;
        margin-bottom: 30px;
    }

    main section.welcome article.welcome p {
        font-size: 2.5rem;
        font-style: italic;
        font-weight: bold;
        text-align: center;
    }

    main section.welcome div.features {
        display: flex;
        flex-wrap: wrap;
    }
    main section.welcome .feature:nth-child(even) {
        justify-content: center;
    }

    main section.welcome .feature {
        width: 50%;
        padding: 20px 15px;
    }

    main section.welcome div.features .feature:nth-child(4) div.sign {
        margin-left: -25px;
    }

    main section.welcome div.features .feature div.sign {
        border-radius: 50%;
        width: 130px;
        height: 130px;
        background-color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5.5rem;
        color: rgb(46,35,131)
    }

    main section.welcome div.features .feature:nth-child(3) div.sign img {
        width: 130px;
    }

    main section.welcome .feature div.information h3 {
        font-size: 3rem;
    }

    main section.welcome .feature div.information p, main section.welcome .feature div.information a {
        font-size: 1.7rem;
    }

    main section.people h2 {
        font-size: 4rem;
        padding: 15px 0 30px 0;
    }

    main section.people p {
        font-size: 2.2rem;
    }

    main section.people article.person {
        height: 180px;
        padding: 30px;
    }

    main section.people article.person h3 {
        font-size: 2.5rem;
    }

    main section.people article.person p {
        font-size: 2rem;
        padding-top: 15px;
    }

    main section.declarations h2 {
        font-size: 4rem;
        padding: 15px 0 30px 0;
    }

    main section.declarations p {
        font-size: 2.2rem;
        padding: 20px;
    }

    main section.declarations div.declaration {
        width: 100%;
        font-size: 3rem;
        text-align: center;
        margin: 35px auto 35px auto;
        text-transform: uppercase;
    }

    main section.declarations div.declaration span {
        font-size: 6rem;
    }

    footer p {
        font-size: 2.2rem;
    }

    footer a {
        font-size: 1.8rem;
    }

    h2.contact {
        font-size: 4rem;
    }
    
    p.contact {
        font-size: 2.5rem;
        text-align: center;
    }
    
    p.contact:nth-of-type(5), p.contact:nth-of-type(1) {
        font-weight: bold;
    }
    
    a.contact {
        font-size: 2.5rem;
        padding-left: 5px;
        text-align: center;
    }

    ul.about {
        padding: 5px 15px;
    }

    ul.about li {
        font-size: 2rem;
    }
    
    p.about {
        padding: 10px 25px;
        font-size: 2rem;
    }
    
    span.about {
        font-size: 2rem;
        padding: 20px 15px;
    }
    
    p.about:nth-last-child(1) {
        margin-bottom: 100px;
    }
    
    p.about:nth-child(1) {
        margin-top: 50px;
    }
}

@media (orientation: portrait) and (min-width: 1023px) {
    nav a {
        font-size: 6.5rem;
    }

    .header_logo h1 {
        font-size: 4.5rem;
    }

    .menu-toggle, .menu-close {
        font-size: 7rem;
    }

    .header-contact {
        height: 700px;
    }

    .header-contact p {
        font-size: 6rem;
    }

    .header-contact .bg span, .header-contact .bg a{
        font-size: 8rem;
    }

    .header-contact a {
        padding-left: 30px;
    }

    main section.welcome article.welcome {
        height: calc(100vh - 880px);
    }

    main section.welcome article.welcome h2{
        font-size: 5rem;
        margin-bottom: 80px;
    }

    main section.welcome article.welcome p {
        font-size: 3.5rem;
    }


    main section.welcome .feature {
        padding: 20px 30px 20px 70px;
    }

    main section.welcome .feature:nth-child(even) {
        padding: 20px 50px 20px 0px;
    }

    main section.welcome div.features .feature div.sign {
        width: 200px;
        height: 200px;
        background-color: #ccc;
        font-size: 8rem;
        color: rgb(46,35,131);
        padding: 10px;
    }

    main section.welcome div.features .feature:nth-child(3) div.sign img {
        width: 170px;
    }

    main section.welcome .feature div.information h3 {
        font-size: 4rem;
    }

    main section.welcome .feature div.information p, main section.welcome .feature div.information a {
        font-size: 1.8rem;
    }

    main section.people h2 {
        font-size: 5rem;
        padding: 15px 0 30px 0;
    }

    main section.people p {
        font-size: 3rem;
    }

    main section.people article.person {
        height: 220px;
        padding: 30px;
    }

    main section.people article.person h3 {
        font-size: 3.3rem;
    }

    main section.people article.person p {
        font-size: 2.7rem;
        padding-top: 15px;
    }

    main section.declarations h2 {
        font-size: 5rem;
        padding: 30px 0 30px 0;
    }

    main section.declarations p {
        font-size: 2.7rem;
        padding: 20px;
    }

    main section.declarations div.declaration {
        font-size: 4rem;
        margin: 70px auto;
        text-transform: uppercase;
    }

    main section.declarations div.declaration span {
        font-size: 8rem;
    }

    footer {
        height: 200px;
    }

    footer p {
        font-size: 3rem;
    }

    footer a {
        font-size: 2.3rem;
    }

    h2.contact {
        font-size: 5rem;
    }
    
    p.contact {
        font-size: 3.5rem;
        text-align: center;
    }
    
    p.contact:nth-of-type(5), p.contact:nth-of-type(1) {
        font-weight: bold;
    }
    
    a.contact {
        font-size: 3.5rem;
        padding-left: 5px;
        text-align: center;
    }

    ul.about {
        padding: 15px 55px;
    }

    ul.about li {
        font-size: 3rem;
    }
    
    p.about {
        padding: 30px 55px;
        font-size: 3rem;
    }
    
    span.about {
        font-size: 3.2rem;
        padding: 30px 15px;
    }
    
    p.about:nth-last-child(1) {
        margin-bottom: 100px;
    }
    
    p.about:nth-child(1) {
        margin-top: 50px;
    }
}

@media (orientation: landscape) {
    p.contact {
        text-align: center;
    }
    
    a.contact {
        text-align: center;
        padding-left: 5px;
    }
}

@media (orientation: landscape) and (min-width: 639px) {
    .header_logo {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 110px;
        padding-bottom: 15px;
    }

    .header_logo h1 {
        font-size: 2.5rem;
        flex-grow: 0;
        padding: 12px 0 0 20px;
    }

    div.logoborder {
        margin: 0;
        background-color: #fff;
        height: 70px;
        width: 70px;
        margin-top: 15px;
        padding: 1px;
    }

    .header_logo img {
        width: 70px;
        height: 67.433px;
    }
}

@media (orientation: landscape) and (min-width: 730px) {
    main section.welcome article.welcome h2, main section.people h2, main section.declarations h2 {
        font-size: 3rem;
    }

    .header-contact p {
        padding-top: 0;
    }
}

@media (orientation: landscape) and (min-width: 810px) {
    main section.welcome article.welcome h2, main section.people h2, main section.declarations h2 {
        font-size: 4rem;
    }

    .header-contact p {
        font-size: 4rem;
    }

    .header-contact .bg span, .header-contact .bg a {
        font-size: 5rem;
    }

    main section.people article.person h3 {
        font-size: 2rem;
    }

    main section.people article.person p {
        font-size: 1.4rem;
        padding-top: 15px;
    }
}

@media (orientation: landscape) and (min-width: 810px) {
    .header-contact {
        height: 500px;
    }

    .header-contact p {
        font-size: 5rem;
    }

    .header-contact .bg span, .header-contact .bg a {
        font-size: 6rem;
    }

    main section.welcome article.welcome {
        padding: 100px 40px;
    }

    main section.welcome article.welcome h2{
        font-size: 5rem;
        margin-bottom: 50px;
    }

    main section.welcome article.welcome p {
        font-size: 2.5rem;
    }
}

@media (orientation: landscape) and (min-width: 1023px) {
    ul.about {
        padding: 15px 55px;
    }

    ul.about li {
        font-size: 2rem;
    }
    
    p.about {
        padding: 15px 55px;
        font-size: 2rem;
    }
    
    span.about {
        font-size: 2rem;
        padding: 15px 15px;
    }
    
    p.about:nth-last-child(1) {
        margin-bottom: 100px;
    }
    
    p.about:nth-child(1) {
        margin-top: 50px;
    }
}

@media (orientation: landscape) and (min-width: 1200px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }
    
    .header_logo {
        width: 40%;
    }

    .header_logo h1 {
        font-size: 4rem;
    }

    nav {
        position: static;
        height: 80px;
        width: 60%;
    }

    .hidemenu {
        left: 0;
    }

    nav ul {
        align-content: center;
        height: 110px;
    }

    nav ul li {
        width: auto;
        
    }

    nav a {
        width: 100%;
        padding: 15px 20px;
    }
    
    .menu-toggle, .menu-close {
        display: none;
    }

    nav a:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,.1);
        transition: .1s;
    }

    .header-contact {
        width: 100%;
    }

    .header-contact .bg a {
        width: 100%;
        text-align: center;
    }

    main section.welcome div.features {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main section.welcome .feature {
        padding: 30px;
        width: 50%;
    }
    
    main section.welcome .feature div.sign {
        width: 150px;
        height: 150px;
        font-size: 7rem;
    }
    
    main section.welcome .feature div.information h3 {
        font-size: 3.5rem;
    }
    
    main section.welcome .feature div.information p, main section.welcome .feature div.information a {
        font-size: 2rem;
    }
    
    main section.welcome div.features .feature:nth-child(3) div.sign img {
        width: 150px;
    }

    main section.people h2 {
        font-size: 5rem;
    }

    main section.people p {
        font-size: 2.2rem;
    }

    main section.people article.person {
        height: 200px;
        width: 80%;
    }

    main section.people article.person h3 {
        font-size: 2.9rem;
    }
    
    main section.people article.person p {
        font-size: 2.2rem;
    }

    main section.declarations {
        padding: 30px;
    }

    main section.declarations h2 {
        text-align: center;
        font-size: 5rem;
        padding: 25px 0;
    }

    main section.declarations p {
        font-size: 2.5rem;
    }

    main section.declarations div.declaration {
        font-size: 3rem;
        margin: 60px auto 0 auto;
    }

    main section.declarations div.declaration span {
        font-size: 7rem;
    }

    footer {
        height: 250px;
    }

    footer p {
        font-size: 2.5rem;
        line-height: 5;
    }

    footer a {
        font-size: 1.9rem;
    }

    h2.contact {
        font-size: 5rem;
    }
    
    p.contact {
        font-size: 3.5rem;
    }
    
    a.contact {
        font-size: 3.5rem;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    .header-contact {
        height: 800px;
        background-image: url(../img/bgb.jpg);
    }

    main section.welcome div.features {
        justify-content: center;
    }
    main section.welcome .feature {
        width: 35%;
    }
}