* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 10px;
    font-family: Roboto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    cursor: pointer;
}

/* Mobile 360x640 */

header {
    width: 100%;
    background-color: #023e8a;
}

.header_logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
}

div.logoborder {
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 30px;
    text-align: center;
    margin-top: 15px;
    padding: 5px;
}
.header_logo img {
    width: 90px;
    height: 86.7px;
}

.header_logo h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    flex-grow: 1;
    line-height: 50px;
    color: white;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    line-height: 1em;
    font-size: 3.8rem;
    color: #000;
    transition: 0.35s ease-in-out;
    color: white;
    -webkit-text-stroke: 1px #023e8a;
}

.menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1em;
    font-size: 3.8rem;
    color: #fff;
    transition: 0.35s ease-in-out;
    color: white;
    -webkit-text-stroke: 1px #023e8a;
}

.menu-close:hover, .menu-toggle:hover {
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #023e8a;
    transition: 0.35s ease-in-out;
}

nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav ul li {
    width: 100%;
    text-align: center;
}

nav a {
    width: 100%;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 2;
}

nav a:hover {
    text-decoration: underline;
}

.hide {
    transform: scale(0) rotate(360deg);
}

.hidemenu {
    left: -100%;
}

.showmenu {
    left: 0;
}

.header-contact {
    height: 300px;
    background-image: url(../img/bg.jpg);
    background-position: 50% top 80% left;
    background-size: 130%;
    background-repeat: no-repeat;
}

.header-contact p {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 20px 0;
    color: #f00;
    -webkit-text-stroke: 1px black;
}

div.bg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,.1);
}


.header-contact .bg span, .header-contact .bg a {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: bolder;
    color: #f00;
    -webkit-text-stroke: 1px black;
}

main section.welcome article.welcome {
    padding: 30px;
}

main section.welcome article.welcome h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

h2.contact {
    font-size: 2.5rem;
    text-align: center;
    padding: 40px 10px;
}

p.contact {
    font-size: 2rem;
    padding: 0 5px 0 20px;
}

p.contact:nth-of-type(5), p.contact:nth-of-type(1) {
    font-weight: bold;
    line-height: 1.5;
}

a.contact {
    font-size: 2rem;
    display: block;
    padding-left: 40px;
    line-height: 2;
}

p.contact:nth-of-type(5) {
    padding-top: 30px;
}

main.contact {
    padding: 30px 5px;
}

main section.welcome article.welcome p {
    font-size: 1.7rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

main section.welcome .feature {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
}

main section.welcome div.features {
    background-color: #023e8a;
}

main section.welcome .feature div.sign {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    color: rgb(46,35,131)
}

main section.welcome .feature div.information {
    padding-left: 20px;
    text-align: left;
}

main section.welcome .feature div.information h3 {
    padding: 0 0 8px 0;
    font-size: 2.3rem;
    text-transform: uppercase;
}

main section.welcome .feature div.information p, main section.welcome .feature div.information a {
    font-size: 1.5rem;
    line-height: 1.5;
}

main section.welcome .feature div.information a {
    display: block;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    padding: 3px 0;
}

main section.welcome div.features .feature:nth-child(1) div.information a {
    text-decoration: none;
    font-weight: normal;
}

main section.welcome div.features .feature:nth-child(1) div.information p:nth-child(even) {
    font-weight: bold;
}

main section.welcome div.features .feature:nth-child(3) div.sign img {
    width: 110px;
    padding: 10px;
}

main section.welcome div.features .feature:nth-child(3) div.information p {
    text-align: left;
}

main section.people {
    padding: 50px 20px 20px 20px;
    background-color: #ddd;
}

main section.people h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 15px 0;
}

main section.people p {
    text-align: center;
    font-size: 1.5rem;
}

main section.people article.person {
    background-color: #fff;
    width: 90%;
    height: 100px;
    margin: 30px auto;
    padding: 12px;
}

main section.people article.person h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #023e8a;
}

main section.people article.person p {
    font-size: 1.3rem;
    padding-top: 10px;
}

main section.declarations {
    padding: 20px;
}

main section.declarations h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 15px 0;
}

main section.declarations p {
    font-size: 1.5rem;
    text-align: center;
}

main section.declarations div.declaration {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    margin: 20px auto 0 auto;
    text-transform: uppercase;
}

main section.declarations div.declaration span {
    font-size: 4rem;
    display: block;
}

main section.declarations div.declaration a {
    color: #03045E;
}

footer {
    height: 140px;
    background-color: #023e8a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

footer p {
    flex-basis: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2;
}

footer a {
    color: #fff;
    text-decoration: underline;
    padding: 0 10px;
    font-size: 1.2rem;
    line-height: 2;
    text-transform: uppercase;
}

iframe {
    width: 100%;
}

ul.about {
    list-style-type: disc;
    padding: 5px;
}

ul.about li {
    margin-left: 40px;
    font-size: 1.5rem;
}

p.about {
    padding: 10px 25px;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.3;
}

span.about {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px 15px;
}

p.about:nth-last-child(1) {
    margin-bottom: 70px;
    font-weight: bold;
}

p.about:nth-child(1) {
    margin-top: 40px;
}